* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia Regular;
    font-size: 12px;
}

html body {
    background-color: #0e0e0e;
}

.page {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;

    &__content {
        padding: 40px 5px 16px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    &__title {
        font-size: 20.2px;
        line-height: 1.4;
        color: $text-color;
    }

    &__link {
        color: $active-color;

        &:hover {
            color: #b10703;
        }
    }
}

p {
    font-size: 14px;
}
