$link-color: #696969;
$grey-bg: #27282c;
$col-bg: #1a1b1d;
$active-color: #d74340;
$text-color: #666666;

%separation {
    content: "";
    background-image: url(../../assets/icon/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    left: 0px;
    bottom: -3px;
    height: 5px;
    position: absolute;
}
