.post {

    &__title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        margin: 0px;
    }

    &__autor {
        font-size: 12.9px;
        line-height: 1.2;
    }

    &__text {
        padding-top: 12px;
    }
}
