.widgets {

    &__caption {
        color: #979797;
        font-size: 14.3px;
        font-weight: bold;
        padding-bottom: 24px;
    }

    &__text {
        padding-top: 2px;
        line-height: 1.5;
        font-size: 13.3px;
        margin-bottom: 7px;
    }

    &__link {
        font-size: 12.6px;
    }
}
