.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    margin: 10px 0px;

    &__arrow {
        width: 18px;
        height: 18px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }

        &--next {
            background-image: url(../../assets/icon/next.png);
            margin-left: 5px;
        }

        &--prev {
            background-image: url(../../assets/icon/prev.png);
        }
    }
}
