.quote {
    padding-bottom: 25.2px;
    position: relative;

    &:after {
        @extend %separation;
    }

    &__text {
        color: #989898;
        text-align: center;
        font-size: 28px;
        font-style: oblique;
    }
}
