.story {
    padding: 36px 0px 49.3px;
    position: relative;

    &:after {
        @extend %separation;
    }

    &__text {
        color: $text-color;
        font-size: 14px;
        padding: 15px 0 16px;
        line-height: 1.3;
    }

    &__link {
        text-transform: uppercase;
        color: #fff;
        background: $active-color;
        padding: 9px 9px;
        border-radius: 10px;
        font-size: 13px;

        &:hover {
            color: $active-color;
            background: #ffffff;
        }
    }
}
