.users {

    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        margin-bottom: 20px;
    }

    &__title {
        padding-bottom: 20px;
    }

    &__text {
        color: $text-color;
        font-size: 13px;
        margin: 2px 0px 4px;
        line-height: 1.3;
    }

    &__link {
        font-size: 12.6px;
    }

    &__name {
        color: $text-color;
        font-size: 14.3px;
        line-height: 1.1;
        font-weight: bold;
        margin: 0px;
    }

    &__photo-container {
        border: 1px solid #d8d8d8;
        padding: 4px;
        margin-right: 9px;
    }
}
