.form-newsletter {
    margin-top: 15px;

    &__control {
        width: 100%;
        padding: 7px 10px;
        border: 0px;
        background-color: $grey-bg;
        margin-bottom: 8px;
        color: #585c5f;
        outline: none;
        font-size: 13px;
        border-radius: 4px;
    }

    &__button {
        outline: none;
        border: 0px;
        background-color: $active-color;
        color: #ffffff;
        padding: 6px 10px;
        border-radius: 4px;
        font-size: 12.6px;
    }
}
