.page-header {

    &__serp-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        align-content: stretch;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: stretch;
    }

    &__top {
        color: $link-color;
        padding: 10px 4.99px;
        background: #000000;
    }

    &__call {
        font-size: 13.3px;
    }

    &__mail {
        font-size: 13.1px;
    }

    &__middle {
        background: $col-bg;
        border-bottom: 5px solid $active-color;
        padding: 42px 4.99px 38px;
    }

    &__title {
        color: #ffffff;
        font-size: 33px;
        line-height: 1;
        font-variant: small-caps;
        font-weight: 100;
    }

    &__subtitle {
        color: #ffffff;
        font-size: 12.5px;
        line-height: 1.8;
        margin: 0px;
    }
}
