.nav {

    &__link {
        text-transform: uppercase;
        color: #ffffff;
        font-family: GeorgiaPro-Light;

        &--active {
            color: $active-color;
        }

        &:hover {
            color: $active-color;
        }
    }

    &__text {
        color: #cccccc;
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        padding: 0 19.9px;
        border-right: 1px solid $grey-bg;
        line-height: 1.4;

        &:last-child {
            padding: 0px 0px 0px 20px;
            border-right: 0px;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: stretch;
        margin: 0px;
        padding-bottom: 5px;
    }
}
