.top-nav {

    &__list {
        list-style: none;
        padding: 0px;
        margin: 0px;
        text-align: right;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: stretch;
    }

    &__link {
        color: $link-color;
        font-size: 12px;
        padding-left: 10px;
        position: relative;
        margin-right: 3px;
        font-size: 12px;

        &:before {
            content: "";
            position: absolute;
            top: 2px;
            left: 3px;
            width: 1px;
            height: 11px;
            background: $link-color;
        }

        &:hover {
            color: #ffffff;
        }
    }

    &__item {

        &:first-child .top-nav__link:before {
            display: none;
        }
    }
}
